@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h1>Queries description</h1>
    <p>The five types of SQL queries are as follows:
        1) Data Definition Language (DDL)
        2) Programming Language for Data Manipulation (DML) Data Control Language (DCL) (DCL) 
        4) TCL (Transaction Control Language) and 5) DQL (Data Query Language) (DQL) Data Definition Language (DDL) 
        is a programming language that allows you to define the structure or schema of a database.</p>

        <h1>CRUD description</h1>
        <p>CRUD is an abbreviation for Create, Read, Update, and Delete.
           These are the four most fundamental operations that can be carried out 
           with most traditional database systems, and they serve as the foundation 
           for interacting with any database.</p>

            <h1>ERD</h1>
           <img src="~/img/ERD.png" alt="ERD Img"  width=190px />

                <h1>Bugs</h1>
                <p>There are no bugs in the lab it works properly</p>

                <p>Bootstrap</p>




</div>
